<p>
  cart works!
</p>

<div class="input-group">
  <input type="text" class="form-control" [(ngModel)]="itemName">
  <span class="input-group-btn">
    <button class="btn" (click)="onAddItem($event)" [ngClass]="{ 'btn-primary' : itemName !== '', 'btn-default': itemName === ''}">Submit Item</button>
  </span>
</div>
<p *ngIf="itemName === ''">Please enter a value</p>

<br>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items; let i = index;" [ngStyle]="{backgroundColor: i % 2 === 0 ? '#fff':'#eee'}">{{i+1}}. {{ item }}</li>
</ul>
